
$borders: 9px;
$hoursWidth: 7%;
$columnNumber: 8;
$hoursWidthCalc: 6%;
$blockHeight: 50px;

#scheduler {

    @import "simple-grid";

    width: 100%;

    .week-row {
        @extend .row;
        border-bottom: 1px solid black;
        box-sizing: border-box;
        display: flex;

        .day-name {
            display: block;
        }

        .hour-name {
            display: block;
            /* padding: 10px 0 0; */
            height: 50px;
            width: 100%;
            line-height: 3.5rem;
        }

        .real-days {
            display: block;
            height: $blockHeight;
            width: 100%;
            background-color: lightgrey;
            border-top: 1px solid black;
        }

        .days-column, .hours-column {

            @extend %col;
            @extend .col-1;
            margin: 0;
            text-align: center;
            border-left: 1px solid grey;
            border-top: 1px solid grey;

            &:last-child {
                border-right: 1px solid grey;
            }
        }

        .days-column {
          flex: 1;
        }

        .hours-column {
            width: $hoursWidth;
        }

    }

    .selection {
        position: absolute;
        border: 1px dotted #000;
        z-index: 7;
        top: 0;
        left: 0;
        cursor: default;
        display: none;
    }

    .container {
        position: relative;
        width: 500px;
        height: 1500px;
        background: #f0f0f0;
    }

    .selectable {
        width: 200px;
        height: 50px;
        background-color: white;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .real-days {
        &.selectable {
            &.selecting {
                background-color: yellow;
            }
            &.selected {
                background-color: orange;
            }
        }
    }
}
