
$borders: 9px;
$hoursWidth: 7%;
$columnNumber: 8;
$hoursWidthCalc: 6%;
$blockHeight: 50px;

#scheduler {

    @import "simple-grid";

    width: 100%;

    .week-row {
        @extend .row;
        border-bottom: 1px solid black;
        box-sizing: border-box;
        display: flex;

        .day-name {
            display: block;
        }

        .hour-name {
            display: block;
            /* padding: 10px 0 0; */
            height: 50px;
            width: 100%;
            line-height: 3.5rem;
        }

        .real-days {
            display: block;
            height: $blockHeight;
            width: 100%;
            background-color: lightgrey;
            border-top: 1px solid black;
        }

        .days-column, .hours-column {

            @extend %col;
            @extend .col-1;
            margin: 0;
            text-align: center;
            border-left: 1px solid grey;
            border-top: 1px solid grey;

            &:last-child {
                border-right: 1px solid grey;
            }
        }

        .days-column {
          flex: 1;
        }

        .hours-column {
            width: $hoursWidth;
        }

    }
}
